<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0de1f1c460.js" crossorigin="anonymous"></script>
    <style type="text/css">
    body { margin: 0; }
    .box { border: 4px solid #FFFFFF; border-radius: 3px; color: white; width: 500px; height: 420px; font-family: 'Nunito'; background-color: #8BC6EC; background-image: linear-gradient(135deg, <%=colors[whichColor][0]%> 0%, <%=colors[whichColor][1]%> 100%); }
    #pfp { position: absolute; height: 140px; width: 140px; border-radius: 5%; }
    .box > section { position: absolute; top: 14px; left: 14px; width: 480px; height: 400px; background-color: rgba(0, 0, 0, 0.15); }
    header > div { position: absolute; top: 10px; left: 150px; display: table; width: 320px; height: 80px; }
    header > div > h4 { margin: 0; font-size: 28pt; font-weight: 500; display: table-cell; line-height: 1.1; text-align: left; vertical-align: middle; }
    header > div > h4 > i { padding: 0 0.4em 0 0; font-size: 18pt; vertical-align: middle; display: inline-block; height: 1.3em; color: rgba(255, 255, 255, 0.8); }
    header > section > h5 { position: absolute; margin: 0; top: 94px; left: 155px; font-size: 17pt; font-weight: 300; display: block; text-align: left; letter-spacing: 2px; }
    header > section > h6 { position: absolute; margin: 0; top: 102px; right: 12px; font-size: 12pt; font-weight: 300; display: block; text-align: right; letter-spacing: 2px; color: rgba(255, 255, 255, 0.75); width: 200px; }
    header > section > #xp { height: 8px; margin: 0; position: absolute; top: 120px; left: 150px; text-align: left; border: 1px solid rgba(255,255,255,0.4); border-radius: 0.2em; width: 320px; }
    header > section > #xp::-webkit-progress-value { background: rgba(255, 255, 255, 0.85); border-radius: 0.2em; }
    header > section > #xp::-webkit-progress-bar { background: rgba(156, 160, 162, 0.5); border-radius: 0.2em; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }
    main > table { position: absolute; top: 170px; left: 10px; width: 460px; text-align: center; font-size: 16pt; }
    th { font-weight: 500; margin: 0 0 10px 0; } td { font-weight: 300; }
    main > table > tbody > #ranks { font-size: 11pt; color: rgba(255, 255, 255, 0.65); }
    main > #birthday > h5 { position: absolute; margin: 0; top: 280px; left: 50px; font-size: 17pt; font-weight: 300; display: block; text-align: left; letter-spacing: 2px; }
    main > #birthday > h6 { position: absolute; margin: 0; top: 280px; left: 240px; font-size: 17pt; font-weight: 300; display: block; text-align: left; letter-spacing: 1px; color: rgba(255, 255, 255, 0.8); }
    main > #birthday > p { position: absolute; margin: 0; top: 288px; right: 100px; font-size: 10pt; font-weight: 300; display: block; text-align: left; letter-spacing: 1px; color:rgba(255, 255, 255, 0.5); }
    main > #switch-fc > h5 { position: absolute; margin: 0; top: 340px; left: 50px; font-size: 17pt; font-weight: 300; display: block; text-align: left; letter-spacing: 2px; }
    main > #switch-fc > h6 { position: absolute; margin: 0; top: 340px; left: 200px; font-size: 17pt; font-weight: 300; display: block; text-align: left; letter-spacing: 1px; color: rgba(255, 255, 255, 0.8); }
    main > #badges > h5 { position: absolute; margin: 0; top: 344px; left: 22px; font-size: 16pt; font-weight: 300; display: block; text-align: left; letter-spacing: 1px; text-decoration: underline; }
    footer > p { position: absolute; top: 385px; width: 480px; margin: 0; text-align: center; letter-spacing: 1px; color: rgba(255, 255, 255, 0.15); font-size: 10pt; }
    </style>
</head>
<body>
    <div class="box">
        <section>
            <header>
                <img src="<%= user.avatar %>" id="pfp" />
                <div>
                    <h4><%- user.icon %><%= user.username %></h4>
                </div>
                <section>
                    <h5>Level <%= user.level %></h5>
                    <h6>#<%= user.positionXP+1 %> <b>|</b> <%= user.current %>/<%= user.max %></h6>
                    <progress id="xp" value="<%= user.current %>" max="<%= user.max %>"></progress>
                </section>
            </header>
            <main>
                <table>
                    <tr>
                        <th>Hugs</th>
                        <th>Pats</th>
                        <th>Boops</th>
                        <th>Slaps</th>
                    </tr>
                    <tr>
                        <td><%= user.hug %></td>
                        <td><%= user.pat %></td>
                        <td><%= user.boop %></td>
                        <td><%= user.slap %></td>
                    </tr>
                    <tr id="ranks">
                        <td>#<%= user.positionHug+1 %></td>
                        <td>#<%= user.positionPat+1 %></td>
                        <td>#<%= user.positionBoop+1 %></td>
                        <td>#<%= user.positionSlap+1 %></td>
                    </tr>
                </table>
                <section id="birthday">
                    <h5>Your birthday :</h5>
                    <h6><%= user.birthday %></h6>
                    <% if(user.birthday != "not registered yet") { %>
                        <p>(mm/dd)</p>
                    <% } %>
                </section>
                <section id="switch-fc">
                    <h5>Switch FC :</h5>
                    <h6><%= user.fc %></h6>
                </section>
            </main>
            <footer>
                <p id="copyright">Made with <i class="far fa-heart"></i> by iwa</p>
            </footer>
        </section>
    </div>
</body>
</html>